@using FirstApp.Models
@model Book
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <ul>
        <li>
            <div class="editor-label">
                @Html.LabelFor(m => m.Name, "Название книги")
            </div>
            <br />
            <div class="editor-field">
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </li>
        <li>
            @Html.LabelFor(m => m.Author, "Автор")
            <br />
            @Html.EditorFor(m => m.Author)
        </li>
        <li>
            @Html.LabelFor(m => m.Price, "Цена")
            <br />
            @Html.EditorFor(m => m.Price)
        </li>
        <li>
            <input type="submit" value="Send" />
        </li>
    </ul>
}