@using FirstApp.Models
@model IEnumerable<Book>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3><a href="/Home/Add">Add new book</a></h3>
@helper BookList(IEnumerable<Book> books)
{
    foreach (var b in books)
    {
        <tr>
            <td>
                <p>@b.Name</p>
            </td>
            <td>
                <p>@b.Author</p>
            </td>
            <td>
                <p>@b.Price</p>
            </td>
            <td>
                <p><a href="/Home/Buy/@b.Id">Купить</a></p>
                <p><a href="/Home/Edit/@b.Id">Редактировать</a></p>
                <p><a href="/Home/Delete/@b.Id">Удалить</a></p>
            </td>
        </tr>
    }
}

<div>
    <h3>Распродажа книг</h3>
    <table>
        <tr class="header">
            <td><p>Название книги</p></td>
            <td><p>Автор</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr>
        @BookList(Model)
    </table>
</div>
<div>
    @Html.Partial("Partial")
</div>
